.containerCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 500px));
    gap: 30px;
    justify-items: center;
    justify-content: space-evenly;
}


.containerNotFoundCards{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width:500px){
    .containerCards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
        gap: 30px;
        justify-items: center;
        justify-content: space-evenly;
    }
    
}