body{
    background-image:url("../../assets/background\ body");
    background-size:cover;
}

.containerMoviesCards{
    margin-top:15px;
    margin-bottom: 40px;
}


.containerPaginationHome{
    margin-top: 15px;
}

