.containerSearchBar input {
  height: 25px;
  outline:none;
}


.containerFormSearch{
  height: 100%;
}


.buttonSearch  {
  height: 100%;
  width: 70px;
  color: white;
  font-weight: bold;
  background-color: red;
  border:none;
  cursor:pointer;
  border-radius:5px;
}


.buttonSearch:hover {
  height: 100%;
  width: 70px;
  color: red;
  font-weight: bold;
  background-color:white;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

